body{
    color: white;
    background-color: rgb(204, 132, 211);
}
.heading{
    width: 80%;
    font-size: 22px;
}
.name_of_objects, #result_object_name,#result_object_accuracy{
    color: yellow;
}
#camera{
    border: 2px dashed black;
    width: 350px; 
    height: 300px;
}
h3{
    width: 80%;
    height: 40px;
}
